:root {
    --font-size: 16px;
    --spacing: .2rem;
    --typography-spacing-vertical: 0;
    --form-element-spacing-vertical: 0;
    --form-element-spacing-horizontal: 0;
}

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 350px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px 0;
}

.header > h3 {
    font-weight: 500;
    margin-bottom: 0;
}

.header > input[role="switch"] {
    margin-top: 5px;
}

main {
    padding: 10px 40px;
}

.todo-app {
    box-shadow: var(--card-box-shadow);
}

#todo-input {
    height: 65px;
    width: 100%;
    padding: 0 20px;
    border: 0;
    font-family: inherit;
    text-align: center;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul > li {
    border-top: 1px solid var(--muted-border-color);
    overflow: hidden;
    max-height: 80px;
    transition: max-height .1s linear;

    &.edit {
        pointer-events: none;
    }

    &.deleting, &.adding {
        max-height: 0;
        margin: 0;
        border: none;
    }
}

li > .item {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item > .title {
    display: flex;
    gap: 15px;
    align-items: center;
}

.title > input[type="checkbox"] {
    border: 1px solid var(--color);
}

.title > label {
    flex-grow: 1;
    position: relative;

    &::after {
        content: ' ';
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        background-color: var(--color);
    }

    &.pending::after {
        animation: unstrike .1s linear both;
    }

    &.completed::after {
        animation: strike .1s linear both;
    }
}

.title > .edit {
    width: auto;
    pointer-events: auto;
}

.title > .hidden {
    display: none;
}

@media (width >= 1250px) {
    .item > .remove {
        visibility: hidden;
    }

    li:hover .remove {
        visibility: visible;
    }
}

.remove {
    width: 25px;
    height: 25px;
    background: var(--icon-close) no-repeat;
    cursor: pointer;
}

@keyframes strike {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes unstrike {
    from {
        width: 100%
    }
    to {
        width: 0
    }
}
